/* Halaman Deskripsi */
.deskripsi-page {
  display: flex;
  justify-content: center;
}

.deskripsi-main {
  margin-top: 27px;
  max-width: 800px;
  padding: 20px;
  text-align: center;
}

.deskripsi-title {
  font-size: 28px;
  font-weight: bold;
  color: #15803d;
  margin-bottom: 20px;
}
.line {
  width: 120px;
  height: 5px;
  background-color: #14532d;
  margin: 25px;
  border-radius: 10px;
}

.deskripsi-image {
  border-radius: 10px;
}

.deskripsi-image-wrapper {
  display: flex;
  justify-content: center;
}

.deskripsi-image-row {
  display: flex;
  justify-content: center;
  gap: 20px;
  margin-bottom: 20px;
}

.deskripsi-description {
  font-size: 16px;
  color: #444;
  margin-bottom: 15px;
}

.deskripsi-subtitle {
  font-size: 20px;
  font-weight: bold;
  margin-top: 15px; 
  text-align: left;
  padding-left: 15px;
}

.deskripsi-list {
  padding-left: 15px;
  text-align: left;
}

.deskripsi-text {
  font-size: 16px;
  color: #52525b;
  margin-bottom: 20px;
  line-height: 1.6;
  text-align: center;
  font-weight: bold;
}

/*RESPONSIVE MOBILE*/
@media (max-width: 768px) {
  .deskripsi-main {
    padding: 15px;
  }

  .deskripsi-title {
    font-size: 24px;
  }

  .deskripsi-text {
    font-size: 14px;
  }

  .deskripsi-image-row {
    flex-direction: column;
    align-items: center;
    gap: 12px;
  }

  .deskripsi-image {
    width: 100%;
    max-width: 350px;
    height: auto;
  }

  .deskripsi-description {
    font-size: 14px;
    text-align: justify;
    line-height: 1.6;
  }

  .deskripsi-subtitle {
    font-size: 18px;
    padding-left: 0;
  }

  .deskripsi-list {
    padding-left: 20px;
    font-size: 14px;
    line-height: 1.6;
  }

}