/* Halaman Deskripsi */
.deskripsi-page {
  display: flex;
  justify-content: center;
}

.deskripsi-main {
  margin-top: 27px;
  max-width: 800px;
  padding: 20px;
  text-align: center;
}

.deskripsi-title {
  font-size: 28px;
  font-weight: bold;
  color: #15803d;
  margin-bottom: 20px;
}
.line {
  width: 120px;
  height: 5px;
  background-color: #14532d;
  margin: 8px auto 25px;
  border-radius: 10px;
}

.deskripsi-image {
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.15);
  border-radius: 10px;
}

.deskripsi-image:hover {
  transform: scale(1.05);
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.2);
}

.deskripsi-image-wrapper {
  display: flex;
  justify-content: center;
}

.deskripsi-image-row {
  display: flex;
  justify-content: center;
  gap: 20px;
  margin-bottom: 20px;
}

.deskripsi-description {
  font-size: 16px;
  color: #444;
  margin-bottom: 15px;
}

.deskripsi-subtitle {
  text-align: center;
  font-size: 20px;
  font-weight: bold;
  margin-top: 15px;
}

.deskripsi-list {
  list-style: none;
  padding: 0;
  margin-top: 20px;

  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 12px 20px;
}

.deskripsi-list li {
  background: #f8f8f8;
  padding: 10px 14px;
  border-radius: 8px;
  font-size: 16px;
}

.deskripsi-text,
.deskripsi-description {
  text-align: justify;
  line-height: 1.7;
}

/*RESPONSIVE MOBILE*/
@media (max-width: 768px) {
  .deskripsi-main {
    padding: 15px;
  }

  .deskripsi-title {
    font-size: 24px;
  }

  .deskripsi-text {
    font-size: 14px;
  }

  .deskripsi-image-row {
    flex-direction: column;
    align-items: center;
    gap: 12px;
  }

  .deskripsi-image {
    width: 100%;
    max-width: 350px;
    height: auto;
  }

  .deskripsi-description {
    font-size: 14px;
    text-align: justify;
    line-height: 1.6;
  }

  .deskripsi-subtitle {
    font-size: 18px;
    padding-left: 0;
  }

  .deskripsi-list {
    padding-left: 20px;
    font-size: 14px;
    line-height: 1.6;
  }
  
}